* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header,
.nosotros,
.contacto,
.galeria,
.productos,
.index {
  background-size: 100% auto;
  background: linear-gradient(90deg, #6c757d 0%, #343a40 66%, #495057 100%); }

.byw, .main__img {
  filter: grayscale(100%);
  transition: filter 2s ease-in-out; }
  .byw:hover, .main__img:hover {
    filter: grayscale(0%); }

.main__img {
  object-fit: cover; }

.index {
  background-image: url(../images/indexfondo1.jpg);
  background-size: cover;
  color: #212529; }

.nosotros {
  background-image: url(../images/nosotrosfondo.jpg);
  color: #f8f9fa; }

.nosotros__cards {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; }
  .nosotros__cards .descripcion1 {
    display: none; }
  .nosotros__cards .descripcion2 {
    display: none; }
  .nosotros__cards .descripcion3 {
    display: none; }

.nosotro__div-img {
  display: inline-block;
  overflow: hidden;
  width: 140px;
  height: 140px; }

.nosotros__img {
  width: 140px;
  height: 140px;
  filter: grayscale(100%);
  transition: filter 2s ease-in-out 1s, transform 2s linear; }
  .nosotros__img:hover {
    transform: scale(1.3);
    filter: grayscale(0%); }

.borde {
  border: 5px solid transparent; }
  .borde:hover {
    border: 5px solid;
    border-radius: 5px;
    animation: 10s borde infinite; }

.contacto {
  background-color: black;
  background-image: url(../images/contacto1.jpg);
  color: #f8f9fa; }
  .contacto main {
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 5px; }

.header {
  color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding: 0 20px; }

.navbar {
  background-color: #ced4da !important;
  position: sticky;
  top: 0;
  z-index: 100;
  height: auto;
  width: 100%; }
  .navbar img {
    width: 30px; }

.footer {
  width: 100%;
  background-color: #f8f9fa;
  color: #212529;
  bottom: 0;
  position: static;
  margin-top: 50px; }

.icono, .facebook, .whatsapp, .instagram, .twitter {
  width: 4vh;
  height: 4vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.whatsapp {
  background-image: url(../images/whatsapp.png); }

.twitter {
  background-image: url(../images/twitter.png); }

.instagram {
  background-image: url(../images/instagram.png); }

.facebook {
  background-image: url(../images/facebook.png); }

.logo-animacion:hover {
  animation: 0.3s logo infinite; }

@keyframes logo {
  50% {
    opacity: 1; }
  25%,
  75% {
    opacity: 0; } }

.btn-animacion:hover {
  animation: 5s btn infinite; }

@keyframes btn {
  25%,
  75% {
    -webkit-transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1.1); } }

@keyframes borde {
  11% {
    border-color: #f37055; }
  22% {
    border-color: #ef4e7b; }
  33% {
    border-color: #a166ab; }
  44% {
    border-color: #5073b8; }
  55% {
    border-color: #1098ad; }
  66% {
    border-color: #07b39b; }
  77% {
    border-color: #6fba82; }
  88% {
    border-color: #f79533; } }
