.footer {
      width: 100%;
      background-color: $gris-blanco;
      color: $gris-oscuro1;
      bottom: 0;
      position: sticky;
      z-index: 2;
      margin-top: 100px;
}
.icono {
      width: 4vh;
      height: 4vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
}
.facebook {
      @extend.icono;
}
.whatsapp {
      @extend.icono;
}
.instagram {
      @extend.icono;
}
.twitter {
      @extend.icono;
}

$iconos: (
      whatsapp: url(../images/whatsapp.png),
      twitter: url(../images/twitter.png),
      instagram: url(../images/instagram.png),
      facebook: url(../images/facebook.png),
);
@each $icon, $img in $iconos {
      .#{$icon} {
            background-image: $img;
      }
}
