.footer {
    width: 100%;
    background-color: $gris-blanco;
    color:$gris-oscuro1;
    bottom: 0;
    position: sticky;
    z-index: 2;
    margin-top: 100px;
    img {
        width: 4vh;
        height: auto;
  }
}