.nosotros {
      background-image: url(../images/nosotrosfondo.jpg);
      color: $gris-blanco;
}
.none {
      display: none;
}
.nosotros__cards {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
}

.nosotro__div-img {
      display: inline-block;
      overflow: hidden;
      @include sizes(140px, 140px);
}
.nosotros__img {
      @include sizes(140px, 140px);
      filter: grayscale(100%);
      transition: filter 2s ease-in-out 1s, transform 2s linear;
      &:hover {
            transform: scale(1.3);
            filter: grayscale(0%);
      }
}
