$gris-blanco: #f8f9fa;
$gris-claro: #ced4da;
$gris-claro1: #adb5bd;
$gris: #6c757d;
$gris1: #495057;
$gris-oscuro: #343a40;
$gris-oscuro1: #212529;
$gradient: linear-gradient(90deg, $gris 0%, $gris-oscuro 66%, $gris1 100%);
